@{
    ViewData["Title"] = "Naslovnica";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na aplikaciju za</h1>
    <h1>ČASOPISE</h1>
    <p> <img width="962" height="463" src="~/casopisi/casopisi.jpg" />  </p>

</div>

