@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<h3>Aplikaciju izradio:</h3>
<ul>
    <li>Ime: Antonio</li>
    <li>Prezime: Jokić</li>
    <li>Sveučilište: EFOS</li>
    <li>Godina studija: 3.</li>
    <li>Smjer: Poslovna informatika</li>
</ul>
